cloud_analytics.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>7c84501d-d10c-407c-b9f3-1d80e38fe36a</groupId>
    <name>cloud analytics</name>
    <snippet>
        <controllerServices>
            <id>55dbfe35-605e-3ea7-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0.3.4.0.0-155</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>jdbc:snowflake://iq09511.us-east-1.snowflakecomputing.com/?user=tspann&amp;warehouse=COMPUTE_WH&amp;db=SNOWFLAKE_SAMPLE_DATA&amp;schema=TPCH_SF001</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>net.snowflake.client.jdbc.SnowflakeDriver</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>/opt/demo/snowflake-jdbc.jar</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>tspann</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>3</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <controllerServices>
            <id>9f55adc4-a610-3a38-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.0.3.4.0.0-155</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                </entry>
                <entry>
                    <key>output-grouping</key>
                </entry>
                <entry>
                    <key>compression-format</key>
                </entry>
                <entry>
                    <key>compression-level</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <processGroups>
            <id>3b999fef-78e7-3ecb-0000-000000000000</id>
            <parentGroupId>46f95fe5-3024-31d8-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>481976b1-dd5d-3d1e-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>97cd65cc-e3ac-3b7e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>44a8fce4-24cd-30c4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>54019311-4dd4-38eb-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>2ed9f601-55f0-32c7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>0c05d4ed-33e1-3c86-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>55d3a029-3a9f-3130-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>0c05d4ed-33e1-3c86-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>2973c2da-ab18-3788-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>773df5d6-c043-3ea1-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>096c3543-275f-3ea5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>split</selectedRelationships>
                    <source>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>03ddaa2e-7a2f-3656-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>7c1bc563-d03b-385b-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>23dbf225-9f5a-37f4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>matched</selectedRelationships>
                    <source>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>a471b0da-fd66-3657-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>821d1c9c-5427-3e7d-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>2 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>1000000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>59907d9e-2c82-375a-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>23dbf225-9f5a-37f4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>99129ea8-4ed1-37b4-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>03ddaa2e-7a2f-3656-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>97cd65cc-e3ac-3b7e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>9fda7cca-a386-3dc9-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>a471b0da-fd66-3657-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>2ed9f601-55f0-32c7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>c02fdebb-1edb-35cb-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>44a8fce4-24cd-30c4-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>cf1b30a5-207d-3545-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>e792ccd9-0f23-36ce-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>552.3000305175781</x>
                        <y>1418.300117492676</y>
                    </bends>
                    <bends>
                        <x>552.3000305175781</x>
                        <y>1468.300117492676</y>
                    </bends>
                    <destination>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>096c3543-275f-3ea5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>3b999fef-78e7-3ecb-0000-000000000000</groupId>
                        <id>096c3543-275f-3ea5-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <controllerServices>
                    <id>1705fbee-1061-35b7-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-ssl-context-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Keystore Filename</key>
                            <value>
<name>Keystore Filename</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Keystore Password</key>
                            <value>
<name>Keystore Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>key-password</key>
                            <value>
<name>key-password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Keystore Type</key>
                            <value>
<name>Keystore Type</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Truststore Filename</key>
                            <value>
<name>Truststore Filename</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Truststore Password</key>
                            <value>
<name>Truststore Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Truststore Type</key>
                            <value>
<name>Truststore Type</name>
                            </value>
                        </entry>
                        <entry>
                            <key>SSL Protocol</key>
                            <value>
<name>SSL Protocol</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>StandardSSLContextService</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Keystore Filename</key>
                        </entry>
                        <entry>
                            <key>Keystore Password</key>
                        </entry>
                        <entry>
                            <key>key-password</key>
                        </entry>
                        <entry>
                            <key>Keystore Type</key>
                        </entry>
                        <entry>
                            <key>Truststore Filename</key>
                            <value>/opt/demo/cacerts</value>
                        </entry>
                        <entry>
                            <key>Truststore Password</key>
                        </entry>
                        <entry>
                            <key>Truststore Type</key>
                            <value>JKS</value>
                        </entry>
                        <entry>
                            <key>SSL Protocol</key>
                            <value>TLS</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.ssl.StandardSSLContextService</type>
                </controllerServices>
                <controllerServices>
                    <id>2269ce69-8a90-3293-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-dbcp-service-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>
<name>Database Connection URL</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>
<name>Database Driver Class Name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>
<name>database-driver-locations</name>
                            </value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                            <value>
<identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
<name>kerberos-credentials-service</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>
<name>Database User</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Password</key>
                            <value>
<name>Password</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                            <value>
<name>Max Wait Time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>
<name>Max Total Connections</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                            <value>
<name>Validation-query</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                            <value>
<name>dbcp-min-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                            <value>
<name>dbcp-max-idle-conns</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                            <value>
<name>dbcp-max-conn-lifetime</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                            <value>
<name>dbcp-time-between-eviction-runs</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                            <value>
<name>dbcp-min-evictable-idle-time</name>
                            </value>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                            <value>
<name>dbcp-soft-min-evictable-idle-time</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>Public SnowFlake DB</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>Database Connection URL</key>
                            <value>jdbc:snowflake://iq09511.us-east-1.snowflakecomputing.com/?user=tspann&amp;warehouse=COMPUTE_WH&amp;db=DEMO_DB&amp;schema=PUBLIC</value>
                        </entry>
                        <entry>
                            <key>Database Driver Class Name</key>
                            <value>net.snowflake.client.jdbc.SnowflakeDriver</value>
                        </entry>
                        <entry>
                            <key>database-driver-locations</key>
                            <value>/opt/demo/snowflake-jdbc.jar</value>
                        </entry>
                        <entry>
                            <key>kerberos-credentials-service</key>
                        </entry>
                        <entry>
                            <key>Database User</key>
                            <value>tspann</value>
                        </entry>
                        <entry>
                            <key>Password</key>
                        </entry>
                        <entry>
                            <key>Max Wait Time</key>
                        </entry>
                        <entry>
                            <key>Max Total Connections</key>
                            <value>3</value>
                        </entry>
                        <entry>
                            <key>Validation-query</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-idle-conns</key>
                        </entry>
                        <entry>
                            <key>dbcp-max-idle-conns</key>
                        </entry>
                        <entry>
                            <key>dbcp-max-conn-lifetime</key>
                        </entry>
                        <entry>
                            <key>dbcp-time-between-eviction-runs</key>
                        </entry>
                        <entry>
                            <key>dbcp-min-evictable-idle-time</key>
                        </entry>
                        <entry>
                            <key>dbcp-soft-min-evictable-idle-time</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
                </controllerServices>
                <controllerServices>
                    <id>5391a170-5c35-317c-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-registry-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>avro-reg-validated-field-names</key>
                            <value>
<name>avro-reg-validated-field-names</name>
                            </value>
                        </entry>
                        <entry>
                            <key>estimote</key>
                            <value>
<name>estimote</name>
                            </value>
                        </entry>
                        <entry>
                            <key>garden</key>
                            <value>
<name>garden</name>
                            </value>
                        </entry>
                        <entry>
                            <key>gluon</key>
                            <value>
<name>gluon</name>
                            </value>
                        </entry>
                        <entry>
                            <key>hoagie</key>
                            <value>
<name>hoagie</name>
                            </value>
                        </entry>
                        <entry>
                            <key>jobstatus</key>
                            <value>
<name>jobstatus</name>
                            </value>
                        </entry>
                        <entry>
                            <key>minifitensorflow2</key>
                            <value>
<name>minifitensorflow2</name>
                            </value>
                        </entry>
                        <entry>
                            <key>movidiussense</key>
                            <value>
<name>movidiussense</name>
                            </value>
                        </entry>
                        <entry>
                            <key>PDF</key>
                            <value>
<name>PDF</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>AvroSchemaRegistry</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>avro-reg-validated-field-names</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>estimote</key>
                            <value>{ "type" : "record", "name" : "estimote", "fields" : [ 
{ "name": "estimoteid", "type": ["string","null"], "default": "NA" }, 
{ "name" : "battery", "type" : "int" }, 
{ "name" : "id", "type" : ["string","null"] }, 
{ "name" : "magnetic_fieldz", "type" : "double", "doc" : "Type inferred from '-0.1484375'" }, 
{ "name" : "magnetic_fieldx", "type" : "double", "doc" : "Type inferred from '-0.3125'" }, 
{ "name" : "magnetic_fieldy", "type" : "double", "doc" : "Type inferred from '0.515625'" }, 
{ "name" : "end", "type" : "string", "doc" : "Type inferred from '\"1547679071.5\"'" }, 
{ "name" : "temperature", "type" : "double", "doc" : "Type inferred from '25.5'" }, 
{ "name" : "cputemp1", "type" : "double", "doc" : "Type inferred from '38.0'" }, 
{ "name" : "memory", "type" : "double", "doc" : "Type inferred from '26.1'" }, 
{ "name" : "protocol_version", "type" : "int", "doc" : "Type inferred from '2'" }, 
{ "name" : "current_motion", "type" : "int", "doc" : "Type inferred from '420'" }, 
{ "name" : "te", "type" : "string", "doc" : "Type inferred from '\"0.362270116806\"'" }, { "name" : "systemtime", "type" : "string", "doc" : "Type inferred from '\"01/16/2019 17:51:11\"'" }, { "name" : "cputemp", "type" : "double", "doc" : "Type inferred from '39.0'" }, { "name" : "uptime", "type" : "int", "doc" : "Type inferred from '4870800'" }, { "name" : "host", "type" : "string", "doc" : "Type inferred from '\"Laptop\"'" }, { "name" : "diskusage", "type" : "string", "doc" : "Type inferred from '\"418487.1\"'" }, { "name" : "ipaddress", "type" : "string", "doc" : "Type inferred from '\"192.168.1.241\"'" }, { "name" : "uuid", "type" : "string", "doc" : "Type inferred from '\"20190116225111_2cbbac13-fed0-4d81-a24a-3aa593b5f674\"'" }, { "name" : "is_moving", "type" : "boolean", "doc" : "Type inferred from 'false'" }, { "name" : "accelerationy", "type" : "double", "doc" : "Type inferred from '0.015748031496062992'" }, { "name" : "accelerationx", "type" : "double", "doc" : "Type inferred from '0.0'" }, { "name" : "accelerationz", "type" : "double", "doc" : "Type inferred from '1.0236220472440944'" }, { "name" : "starttime", "type" : "string", "doc" : "Type inferred from '\"01/16/2019 17:51:11\"'" }, { "name" : "rssi", "type" : "int", "doc" : "Type inferred from '-60'" }, { "name" : "bt_addr", "type" : "string", "doc" : "Type inferred from '\"fa:e2:20:6e:d4:a5\"'" } ] }
</value>
                        </entry>
                        <entry>
                            <key>garden</key>
                            <value>{ "type" : "record", "name" : "garden", "fields" : [ { "name" : "uuid", "type" : "string", "doc" : "Type inferred from '\"20190212231349_441b3134-4084-4ed6-9516-943cadbe8aeb\"'" }, { "name" : "BH1745_red", "type" : "string", "doc" : "Type inferred from '\"35.2\"'" }, { "name" : "ipaddress", "type" : "string", "doc" : "Type inferred from '\"192.168.1.166\"'" }, { "name" : "BH1745_clear", "type" : "string", "doc" : "Type inferred from '\"30.0\"'" }, { "name" : "bme680_tempc", "type" : "string", "doc" : "Type inferred from '\"24.93\"'" }, { "name" : "bme680_humidity", "type" : "string", "doc" : "Type inferred from '\"22.751\"'" }, { "name" : "memory", "type" : "double", "doc" : "Type inferred from '42.9'" }, { "name" : "end", "type" : "string", "doc" : "Type inferred from '\"1550013229.6661472\"'" }, { "name" : "bme680_tempf", "type" : "string", "doc" : "Type inferred from '\"76.87\"'" }, { "name" : "bme680_pressure", "type" : "string", "doc" : "Type inferred from '\"1009.29\"'" }, { "name" : "systemtime", "type" : "string", "doc" : "Type inferred from '\"02/12/2019 18:13:49\"'" }, { "name" : "lsm303d_magnetometer", "type" : "string", "doc" : "Type inferred from '\"+00.02 : +00.45 : -00.12\"'" }, { "name" : "VL53L1X_distance_in_mm", "type" : "int", "doc" : "Type inferred from '680'" }, { "name" : "host", "type" : "string", "doc" : "Type inferred from '\"piups\"'" }, { "name" : "cputemp", "type" : "int", "doc" : "Type inferred from '45'" }, { "name" : "BH1745_blue", "type" : "string", "doc" : "Type inferred from '\"12.6\"'" }, { "name" : "starttime", "type" : "string", "doc" : "Type inferred from '\"02/12/2019 18:08:07\"'" }, { "name" : "ltr559_prox", "type" : "string", "doc" : "Type inferred from '\"0000\"'" }, { "name" : "ltr559_lux", "type" : "string", "doc" : "Type inferred from '\"005.93\"'" }, { "name" : "imgnamep", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/images/bog_image_p_20190212231349_441b3134-4084-4ed6-9516-943cadbe8aeb.jpg\"'" }, { "name" : "te", "type" : "string", "doc" : "Type inferred from '\"342.5885555744171\"'" }, { "name" : "diskusage", "type" : "string", "doc" : "Type inferred from '\"9625.3\"'" }, { "name" : "lsm303d_accelerometer", "type" : "string", "doc" : "Type inferred from '\"+00.08g : -01.01g : +00.09g\"'" }, { "name" : "BH1745_green", "type" : "string", "doc" : "Type inferred from '\"25.0\"'" }, { "name" : "imgname", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/images/bog_image_20190212231349_441b3134-4084-4ed6-9516-943cadbe8aeb.jpg\"'" } ] }</value>
                        </entry>
                        <entry>
                            <key>gluon</key>
                            <value>{ "type" : "record", "name" : "gluon", "fields" : [ 
{ "name" : "class1", "type" : ["string","null"] }, 
{ "name" : "cpu", "type" :  ["double","null"] }, 
{ "name" : "end", "type" :  ["string","null"]}, 
{ "name" : "host", "type" :  ["string","null"]}, 
{ "name" : "memory", "type" :  ["double","null"]}, 
{ "name" : "pct1", "type" :  ["string","null"] }, 
{ "name" : "shape", "type" :  ["string","null"] }, 
{ "name" : "systemtime", "type" :  ["string","null"] }, 
{ "name" : "te", "type" :  ["string","null"] } ] }</value>
                        </entry>
                        <entry>
                            <key>hoagie</key>
                            <value>{ "type" : "record", "name" : "hoagie", "fields" : [ { "name" : "mongo_id", "type" : "string", "doc" : "Type inferred from '\"5c5b55375b6fe482582220a0\"'" }, { "name" : "id", "type" : "int", "doc" : "Type inferred from '528'" }, { "name" : "first_name", "type" : "string", "doc" : "Type inferred from '\"Anatollo\"'" }, { "name" : "last_name", "type" : "string", "doc" : "Type inferred from '\"Coombs\"'" }, { "name" : "email", "type" : "string", "doc" : "Type inferred from '\"acoombsen@dmoz.org\"'" }, { "name" : "gender", "type" : "string", "doc" : "Type inferred from '\"Male\"'" }, { "name" : "ip_address", "type" : "string", "doc" : "Type inferred from '\"29.211.50.89\"'" }, { "name" : "primary_topping", "type" : "string", "doc" : "Type inferred from '\"Liqueur Banana, Ramazzotti\"'" }, { "name" : "user_agent", "type" : "string", "doc" : "Type inferred from '\"Mozilla/5.0 (Windows NT 6.1; WOW64; rv:21.0) Gecko/20100101 Firefox/21.0\"'" }, { "name" : "mac_address", "type" : "string", "doc" : "Type inferred from '\"F4-AD-A6-BE-2B-92\"'" }, { "name" : "order_frequency", "type" : "string", "doc" : "Type inferred from '\"Seldom\"'" }, { "name" : "order_date", "type" : "string", "doc" : "Type inferred from '\"03/06/2018\"'" }, { "name" : "credit_card_type", "type" : "string", "doc" : "Type inferred from '\"visa-electron\"'" }, { "name" : "city", "type" : "string", "doc" : "Type inferred from '\"Lake Worth\"'" }, { "name" : "state", "type" : "string", "doc" : "Type inferred from '\"FL\"'" }, { "name" : "lat", "type" : "string", "doc" : "Type inferred from '\"26.5747\"'" }, { "name" : "long", "type" : "string", "doc" : "Type inferred from '\"-80.0794\"'" }, { "name" : "zipcode", "type" : "string", "doc" : "Type inferred from '\"33462\"'" }, { "name" : "street_number", "type" : "string", "doc" : "Type inferred from '\"503\"'" }, { "name" : "street_name", "type" : "string", "doc" : "Type inferred from '\"Summerview\"'" }, { "name" : "guid", "type" : "string", "doc" : "Type inferred from '\"1b71d73b-2dee-4e4f-aeed-bd8ba6260360\"'" } ] }</value>
                        </entry>
                        <entry>
                            <key>jobstatus</key>
                            <value>{  
   "type":"record",
   "name":"jobstatus",
   "fields":[  
      {  
         "name":"id",
         "type":["int","null"]
      },
      {  
         "name":"name",
         "type":["string","null"]
      },
      {  
         "name":"script",
         "type":["string","null"]
      },
      {  
         "name":"cpu",
         "type":["int","null"]
      },
      {  
         "name":"memory",
         "type":["int","null"]
      },
      {  
         "name":"nvidia_gpu",
         "type":["int","null"]
      },
      {  
         "name":"engine_image_id",
         "type":["int","null"]
      },
      {  
         "name":"kernel",
         "type":["string","null"]
      },
      {  
         "name":"englishSchedule",
         "type":["string","null"]
      },
      {  
         "name":"timezone",
         "type":["string","null"]
      },
      {  
         "name":"total_runs",
         "type":["int","null"]
      },
      {  
         "name":"total_failures",
         "type":["int","null"],
         "doc":"Type inferred from '0'"
      },
      {  
         "name":"paused",
         "type":["boolean","null"],
         "doc":"Type inferred from 'false'"
      },
      {  
         "name":"type",
         "type":["string","null"],
         "doc":"Type inferred from '\"manual\"'"
      },
      {  
         "name":"creator_id",
         "type":["int","null"],
         "doc":"Type inferred from '19'"
      },
      {  
         "name":"creator_username",
         "type":["string","null"]
      },
      {  
         "name":"creator_name",
         "type":["string","null"]
      },
      {  
         "name":"creator_email",
         "type":["string","null"]
      },
      {  
         "name":"creator_url",
         "type":["string","null"]
      },
      {  
         "name":"creator_html_url",
         "type":["string","null"]
      },
      {  
         "name":"project_id",
         "type":["int","null"]
      },
      {  
         "name":"project_slug",
         "type":["string","null"]
      },
      {  
         "name":"project_name",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_id",
         "type":["int","null"]
      },
      {  
         "name":"project_owner_username",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_email",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_name",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_url",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_html_url",
         "type":["string","null"]
      },
      {  
         "name":"project_url",
         "type":["string","null"]
               },
      {  
         "name":"project_html_url",
         "type":["string","null"]
      },
      {  
         "name":"latest_id",
         "type":["string","null"]
      },
      {  
         "name":"latest_batch",
         "type":["boolean","null"]
      },
      {  
         "name":"latest_job_id",
         "type":["int","null"]
      },
      {  
         "name":"latest_status",
         "type":["string","null"]
      },
      {  
         "name":"latest_oomKilled",
         "type":["boolean","null"]
      },
      {  
         "name":"latest_created_at",
         "type":["string","null"]
      },
      {  
         "name":"latest_scheduling_at",
         "type":["string","null"]
      },
      {  
         "name":"latest_url",
         "type":["string","null"]
      },
      {  
         "name":"latest_html_url",
         "type":["string","null"]
      },
      {  
         "name":"latest_shared_view_visibility",
         "type":["string","null"]
      },
      {  
         "name":"report_include_logs",
         "type":["boolean","null"]
      },
      {  
         "name":"report_send_from_creator",
         "type":["boolean","null"]
      },
      {  
         "name":"timeout",
         "type":["int","null"]
      },
      {  
         "name":"timeout_kill",
         "type":["boolean","null"]
      },
      {  
         "name":"created_at",
         "type":["string","null"]
      },
      {  
         "name":"updated_at",
         "type":["string","null"]
      },
      {  
         "name":"shared_view_visibility",
         "type":["string","null"]
      },
      {  
         "name":"url",
         "type":["string","null"]
      },
      {  
         "name":"html_url",
         "type":["string","null"]
      },
      {  
         "name":"engine_id",
         "type":["string","null"]
      }
   ]
}</value>
                        </entry>
                        <entry>
                            <key>minifitensorflow2</key>
                            <value>{ "type" : "record", "name" : "minifitensorflow2", "fields" : [ { "name" : "image", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/images/2018-03-29_1152.jpg\"'" }, { "name" : "ts", "type" : "string", "doc" : "Type inferred from '\"2018-03-29 15:52:57\"'" }, { "name" : "host", "type" : "string", "doc" : "Type inferred from '\"sensehatmovidius\"'" }, { "name" : "score", "type" : "string", "doc" : "Type inferred from '\"0.00402512\"'" }, { "name" : "human_string", "type" : "string", "doc" : "Type inferred from '\"cinema, movie theater, movie theatre, movie house, picture palace\"'" }, { "name" : "node_id", "type" : "int", "doc" : "Type inferred from '695'" } ] }</value>
                        </entry>
                        <entry>
                            <key>movidiussense</key>
                            <value>{
 "type": "record",
 "name": "movidiussense",
 "fields": [
  {
   "name": "cputemp2",
   "type": ["double","null"]
  },
  {
   "name": "pitch",
   "type": ["double","null"]
  },
  {
   "name": "label5",
   "type": ["string","null"]
  },
  {
   "name": "starttime",
   "type": ["string","null"]
  },
  {
   "name": "label2",
   "type": ["string","null"]
  },
  {
   "name": "y",
   "type": ["double","null"]
  },
  {
   "name": "currenttime",
   "type": ["string","null"]
  },
  {
   "name": "x",
   "type": ["double","null"]
  },
  {
   "name": "label4",
   "type": ["string","null"]
  },
  {
   "name": "roll",
   "type": ["double","null"]
  },
  {
   "name": "temp",
   "type": ["double","null"]
  },
  {
   "name": "host",
   "type": ["string","null"]
  },
  {
   "name": "diskfree",
   "type": ["string","null"]
  },
  {
   "name": "memory",
   "type": ["double","null"]
  },
  {
   "name": "label3",
   "type": ["string","null"]
  },
  {
   "name": "label1",
   "type": ["string","null"]
  },
  {
   "name": "yaw",
   "type": ["double","null"]
  },
  {
   "name": "cputemp",
   "type": "int"
  },
  {
   "name": "humidity",
   "type": ["double","null"]
  },
  {
   "name": "tempf",
   "type": ["double","null"]
  },
  {
   "name": "z",
   "type": ["double","null"]
  },
  {
   "name": "pressure",
   "type": ["double","null"]
  },
  {
   "name": "ipaddress",
   "type": ["string","null"]
  }
 ]
}</value>
                        </entry>
                        <entry>
                            <key>PDF</key>
                            <value>{ "type" : "record", "name" : "PDF", "fields" : [ { "name" : "date", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "segmentoriginalfilename", "type" : "string", "doc" : "Type inferred from '\"tensor.pdf\"'" }, { "name" : "CreationDate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "ContentType", "type" : "string", "doc" : "Type inferred from '\"application/pdf\"'" }, { "name" : "xmpMMDerivedFromInstanceID", "type" : "string", "doc" : "Type inferred from '\"xmp.iid:b8062fa1-9619-43b4-a23d-6d4ec9ad3a40\"'" }, { "name" : "fragmentidentifier", "type" : "string", "doc" : "Type inferred from '\"b4679dbf-d140-480e-b48a-8f0dbcf205f4\"'" }, { "name" : "pdfdocinfotrapped", "type" : "string", "doc" : "Type inferred from '\"False\"'" }, { "name" : "language", "type" : "string", "doc" : "Type inferred from '\"en-US\"'" }, { "name" : "accesspermissionextract_content", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "LastSaveDate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "LastModified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "pdfencrypted", "type" : "string", "doc" : "Type inferred from '\"false\"'" }, { "name" : "textlinecount", "type" : "string", "doc" : "Type inferred from '\"1\"'" }, { "name" : "nlporgs", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "sentence1", "type" : "string", "doc" : "Type inferred from '\"INTRODUCTION TO TENSORFLOW \"'" }, { "name" : "modified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "sentence", "type" : "string", "doc" : "Type inferred from '\"INTRODUCTION TO TENSORFLOW \"'" }, { "name" : "metasavedate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "filecreationTime", "type" : "string", "doc" : "Type inferred from '\"2018-01-17T15:52:50-0500\"'" }, { "name" : "accesspermissioncan_print_degraded", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "trapped", "type" : "string", "doc" : "Type inferred from '\"False\"'" }, { "name" : "created", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "xmpMMDerivedFromDocumentID", "type" : "string", "doc" : "Type inferred from '\"xmp.did:b222500d-fbb5-4f9f-be69-aa9d75703268\"'" }, { "name" : "nlpnames", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "accesspermissionassemble_document", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "dctermsmodified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "fragmentsize", "type" : "string", "doc" : "Type inferred from '\"28\"'" }, { "name" : "dclanguage", "type" : "string", "doc" : "Type inferred from '\"en-US\"'" }, { "name" : "pdfPDFVersion", "type" : "string", "doc" : "Type inferred from '\"1.4\"'" }, { "name" : "pdfdocinfocreator_tool", "type" : "string", "doc" : "Type inferred from '\"Adobe InDesign CC 13.0 (Macintosh)\"'" }, { "name" : "origmimetype", "type" : "string", "doc" : "Type inferred from '\"application/pdf\"'" }, { "name" : "producer", "type" : "string", "doc" : "Type inferred from '\"Adobe PDF Library 15.0\"'" }, { "name" : "nlplocations", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "fragmentcount", "type" : "string", "doc" : "Type inferred from '\"463\"'" }, { "name" : "sentiment", "type" : "string", "doc" : "Type inferred from '\"Neutral\"'" }, { "name" : "xmpMMDocumentID", "type" : "string", "doc" : "Type inferred from '\"xmp.id:616a1b69-7fa0-46e1-9867-140371ba2ffb\"'" }, { "name" : "pdfdocinfomodified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "filelastAccessTime", "type" : "string", "doc" : "Type inferred from '\"2019-01-28T12:46:44-0500\"'" }, { "name" : "filesize", "type" : "string", "doc" : "Type inferred from '\"350941\"'" }, { "name" : "xmpCreatorTool", "type" : "string", "doc" : "Type inferred from '\"Adobe InDesign CC 13.0 (Macintosh)\"'" }, { "name" : "accesspermissioncan_modify", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "accesspermissionfill_in_form", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "pdfdocinfoproducer", "type" : "string", "doc" : "Type inferred from '\"Adobe PDF Library 15.0\"'" }, { "name" : "dctermscreated", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "fileowner", "type" : "string", "doc" : "Type inferred from '\"tspann\"'" }, { "name" : "pdfdocinfocreated", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "filepermissions", "type" : "string", "doc" : "Type inferred from '\"rwxrwxrwx\"'" }, { "name" : "fragmentindex", "type" : "string", "doc" : "Type inferred from '\"1\"'" }, { "name" : "accesspermissionmodify_annotations", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "nlpdates", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "accesspermissionextract_for_accessibility", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "dcformat", "type" : "string", "doc" : "Type inferred from '\"application/pdf; version=1.4\"'" }, { "name" : "xmpTPgNPages", "type" : "string", "doc" : "Type inferred from '\"5\"'" }, { "name" : "XParsedBy", "type" : "string", "doc" : "Type inferred from '\"org.apache.tika.parser.DefaultParser, org.apache.tika.parser.pdf.PDFParser\"'" }, { "name" : "absolutepath", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/files/\"'" }, { "name" : "metacreationdate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "filelastModifiedTime", "type" : "string", "doc" : "Type inferred from '\"2018-01-17T15:52:50-0500\"'" }, { "name" : "accesspermissioncan_print", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "filegroup", "type" : "string", "doc" : "Type inferred from '\"staff\"'" }, { "name" : "mimetype", "type" : "string", "doc" : "Type inferred from '\"text/plain\"'" } ] }</value>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
                </controllerServices>
                <controllerServices>
                    <id>9cd036bd-0698-33d1-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>Infer Json Tree</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>5391a170-5c35-317c-0000-000000000000</value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.json.JsonTreeReader</type>
                </controllerServices>
                <controllerServices>
                    <id>fa4ac11a-7143-3eb3-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <bundle>
                        <artifact>nifi-record-serialization-services-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <comments></comments>
                    <descriptors>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>
<name>schema-access-strategy</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                            <value>
<identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
<name>schema-registry</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>
<name>schema-name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                            <value>
<name>schema-version</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                            <value>
<name>schema-branch</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>
<name>schema-text</name>
                            </value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                            <value>
<identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
<name>schema-inference-cache</name>
                            </value>
                        </entry>
                        <entry>
                            <key>record_format</key>
                            <value>
<name>record_format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>attribute_prefix</key>
                            <value>
<name>attribute_prefix</name>
                            </value>
                        </entry>
                        <entry>
                            <key>content_field_name</key>
                            <value>
<name>content_field_name</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                            <value>
<name>Date Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                            <value>
<name>Time Format</name>
                            </value>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                            <value>
<name>Timestamp Format</name>
                            </value>
                        </entry>
                    </descriptors>
                    <name>XMLReader</name>
                    <persistsState>false</persistsState>
                    <properties>
                        <entry>
                            <key>schema-access-strategy</key>
                            <value>infer-schema</value>
                        </entry>
                        <entry>
                            <key>schema-registry</key>
                        </entry>
                        <entry>
                            <key>schema-name</key>
                            <value>${schema.name}</value>
                        </entry>
                        <entry>
                            <key>schema-version</key>
                        </entry>
                        <entry>
                            <key>schema-branch</key>
                        </entry>
                        <entry>
                            <key>schema-text</key>
                            <value>${avro.schema}</value>
                        </entry>
                        <entry>
                            <key>schema-inference-cache</key>
                        </entry>
                        <entry>
                            <key>record_format</key>
                            <value>false</value>
                        </entry>
                        <entry>
                            <key>attribute_prefix</key>
                        </entry>
                        <entry>
                            <key>content_field_name</key>
                        </entry>
                        <entry>
                            <key>Date Format</key>
                        </entry>
                        <entry>
                            <key>Time Format</key>
                        </entry>
                        <entry>
                            <key>Timestamp Format</key>
                        </entry>
                    </properties>
                    <state>ENABLED</state>
                    <type>org.apache.nifi.xml.XMLReader</type>
                </controllerServices>
                <processors>
                    <id>03ddaa2e-7a2f-3656-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>84.49998168945297</x>
                        <y>1116.700019836426</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JsonPath Expression</key>
<value>
    <name>JsonPath Expression</name>
</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>
    <name>Null Value Representation</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JsonPath Expression</key>
<value>$.*.channel.item</value>
                            </entry>
                            <entry>
<key>Null Value Representation</key>
<value>empty string</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>SplitJson</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>split</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.SplitJson</type>
                </processors>
                <processors>
                    <id>096c3543-275f-3ea5-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>89.30003051757808</x>
                        <y>1378.300117492676</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>put-db-record-record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>put-db-record-record-reader</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>
    <name>put-db-record-statement-type</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>put-db-record-dcbp-service</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>
    <name>put-db-record-catalog-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>
    <name>put-db-record-schema-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>
    <name>put-db-record-table-name</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>
    <name>put-db-record-translate-field-names</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>
    <name>put-db-record-unmatched-field-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>
    <name>put-db-record-unmatched-column-behavior</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
<value>
    <name>put-db-record-update-keys</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
<value>
    <name>put-db-record-field-containing-sql</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>
    <name>put-db-record-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>
    <name>put-db-record-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>
    <name>put-db-record-query-timeout</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>
    <name>put-db-record-max-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>put-db-record-record-reader</key>
<value>9cd036bd-0698-33d1-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-statement-type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>put-db-record-dcbp-service</key>
<value>2269ce69-8a90-3293-0000-000000000000</value>
                            </entry>
                            <entry>
<key>put-db-record-catalog-name</key>
<value>DEMO_DB</value>
                            </entry>
                            <entry>
<key>put-db-record-schema-name</key>
<value>PUBLIC</value>
                            </entry>
                            <entry>
<key>put-db-record-table-name</key>
<value>TRAVELWARNING</value>
                            </entry>
                            <entry>
<key>put-db-record-translate-field-names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-field-behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>put-db-record-unmatched-column-behavior</key>
<value>Ignore Unmatched Columns</value>
                            </entry>
                            <entry>
<key>put-db-record-update-keys</key>
                            </entry>
                            <entry>
<key>put-db-record-field-containing-sql</key>
                            </entry>
                            <entry>
<key>put-db-record-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>put-db-record-query-timeout</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>put-db-record-max-batch-size</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutDatabaseRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutDatabaseRecord</type>
                </processors>
                <processors>
                    <id>0c05d4ed-33e1-3c86-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-560.6000061035156</x>
                        <y>682.0000305175781</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>
    <name>db-fetch-db-type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
<value>
    <name>Columns to Return</name>
</value>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
<value>
    <name>Maximum-value Columns</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>gen-table-fetch-partition-size</key>
<value>
    <name>gen-table-fetch-partition-size</name>
</value>
                            </entry>
                            <entry>
<key>gen-table-column-for-val-partitioning</key>
<value>
    <name>gen-table-column-for-val-partitioning</name>
</value>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
<value>
    <name>db-fetch-where-clause</name>
</value>
                            </entry>
                            <entry>
<key>gen-table-output-flowfile-on-zero-results</key>
<value>
    <name>gen-table-output-flowfile-on-zero-results</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>55dbfe35-605e-3ea7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>db-fetch-db-type</key>
<value>Generic</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>${db.table.fullname}</value>
                            </entry>
                            <entry>
<key>Columns to Return</key>
                            </entry>
                            <entry>
<key>Maximum-value Columns</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>gen-table-fetch-partition-size</key>
<value>10000</value>
                            </entry>
                            <entry>
<key>gen-table-column-for-val-partitioning</key>
                            </entry>
                            <entry>
<key>db-fetch-where-clause</key>
                            </entry>
                            <entry>
<key>gen-table-output-flowfile-on-zero-results</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>GenerateTableFetch</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GenerateTableFetch</type>
                </processors>
                <processors>
                    <id>23dbf225-9f5a-37f4-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-564.0</x>
                        <y>1277.1999816894531</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>Database Connection Pooling Service</name>
</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
<value>
    <name>sql-pre-query</name>
</value>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>
    <name>SQL select query</name>
</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
<value>
    <name>sql-post-query</name>
</value>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>
    <name>Max Wait Time</name>
</value>
                            </entry>
                            <entry>
<key>esqlrecord-record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>esqlrecord-record-writer</name>
</value>
                            </entry>
                            <entry>
<key>esqlrecord-normalize</key>
<value>
    <name>esqlrecord-normalize</name>
</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>
    <name>dbf-user-logical-types</name>
</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>
    <name>esql-max-rows</name>
</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>
    <name>esql-output-batch-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Database Connection Pooling Service</key>
<value>55dbfe35-605e-3ea7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>sql-pre-query</key>
                            </entry>
                            <entry>
<key>SQL select query</key>
<value>${sql}</value>
                            </entry>
                            <entry>
<key>sql-post-query</key>
                            </entry>
                            <entry>
<key>Max Wait Time</key>
<value>0 seconds</value>
                            </entry>
                            <entry>
<key>esqlrecord-record-writer</key>
<value>9f55adc4-a610-3a38-0000-000000000000</value>
                            </entry>
                            <entry>
<key>esqlrecord-normalize</key>
<value>true</value>
                            </entry>
                            <entry>
<key>dbf-user-logical-types</key>
<value>false</value>
                            </entry>
                            <entry>
<key>esql-max-rows</key>
<value>0</value>
                            </entry>
                            <entry>
<key>esql-output-batch-size</key>
<value>0</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>30 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExecuteSQLRecord</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExecuteSQLRecord</type>
                </processors>
                <processors>
                    <id>2973c2da-ab18-3788-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-560.8000030517578</x>
                        <y>478.8000183105469</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>list-db-tables-db-connection</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>list-db-tables-db-connection</name>
</value>
                            </entry>
                            <entry>
<key>list-db-tables-catalog</key>
<value>
    <name>list-db-tables-catalog</name>
</value>
                            </entry>
                            <entry>
<key>list-db-tables-schema-pattern</key>
<value>
    <name>list-db-tables-schema-pattern</name>
</value>
                            </entry>
                            <entry>
<key>list-db-tables-name-pattern</key>
<value>
    <name>list-db-tables-name-pattern</name>
</value>
                            </entry>
                            <entry>
<key>list-db-tables-types</key>
<value>
    <name>list-db-tables-types</name>
</value>
                            </entry>
                            <entry>
<key>list-db-include-count</key>
<value>
    <name>list-db-include-count</name>
</value>
                            </entry>
                            <entry>
<key>list-db-refresh-interval</key>
<value>
    <name>list-db-refresh-interval</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>PRIMARY</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>list-db-tables-db-connection</key>
<value>55dbfe35-605e-3ea7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>list-db-tables-catalog</key>
                            </entry>
                            <entry>
<key>list-db-tables-schema-pattern</key>
                            </entry>
                            <entry>
<key>list-db-tables-name-pattern</key>
                            </entry>
                            <entry>
<key>list-db-tables-types</key>
<value>TABLE</value>
                            </entry>
                            <entry>
<key>list-db-include-count</key>
<value>false</value>
                            </entry>
                            <entry>
<key>list-db-refresh-interval</key>
<value>0 sec</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>true</executionNodeRestricted>
                    <name>ListDatabaseTables</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ListDatabaseTables</type>
                </processors>
                <processors>
                    <id>2ed9f601-55f0-32c7-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-561.0</x>
                        <y>869.0000305175781</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>44a8fce4-24cd-30c4-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>77.77017378635082</x>
                        <y>672.3009503660624</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>
    <name>schema.name</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>schema.name</key>
<value>us</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>59907d9e-2c82-375a-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-568.0</x>
                        <y>1477.8000793457031</y>
                    </position>
                    <bundle>
                        <artifact>nifi-aws-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Object Key</key>
<value>
    <name>Object Key</name>
</value>
                            </entry>
                            <entry>
<key>Bucket</key>
<value>
    <name>Bucket</name>
</value>
                            </entry>
                            <entry>
<key>Content Type</key>
<value>
    <name>Content Type</name>
</value>
                            </entry>
                            <entry>
<key>Access Key</key>
<value>
    <name>Access Key</name>
</value>
                            </entry>
                            <entry>
<key>Secret Key</key>
<value>
    <name>Secret Key</name>
</value>
                            </entry>
                            <entry>
<key>Credentials File</key>
<value>
    <name>Credentials File</name>
</value>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
<value>
    <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
    <name>AWS Credentials Provider service</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
<value>
    <name>s3-object-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>
    <name>s3-object-remove-tags-prefix</name>
</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>
    <name>Storage Class</name>
</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>
    <name>Region</name>
</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>
    <name>Communications Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
<value>
    <name>Expiration Time Rule</name>
</value>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>
    <name>FullControl User List</name>
</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>
    <name>Read Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>
    <name>Write Permission User List</name>
</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>
    <name>Read ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>
    <name>Write ACL User List</name>
</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>
    <name>Owner</name>
</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>
    <name>canned-acl</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
<value>
    <name>Endpoint Override URL</name>
</value>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>
    <name>Signer Override</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>
    <name>Multipart Threshold</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>
    <name>Multipart Part Size</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>
    <name>Multipart Upload AgeOff Interval</name>
</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>
    <name>Multipart Upload Max Age Threshold</name>
</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>
    <name>server-side-encryption</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
<value>
    <name>Proxy Host Port</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
<value>
    <name>proxy-user-name</name>
</value>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
<value>
    <name>proxy-user-password</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Object Key</key>
<value>${filename}</value>
                            </entry>
                            <entry>
<key>Bucket</key>
                            </entry>
                            <entry>
<key>Content Type</key>
                            </entry>
                            <entry>
<key>Access Key</key>
                            </entry>
                            <entry>
<key>Secret Key</key>
                            </entry>
                            <entry>
<key>Credentials File</key>
                            </entry>
                            <entry>
<key>AWS Credentials Provider service</key>
                            </entry>
                            <entry>
<key>s3-object-tags-prefix</key>
                            </entry>
                            <entry>
<key>s3-object-remove-tags-prefix</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Storage Class</key>
<value>Standard</value>
                            </entry>
                            <entry>
<key>Region</key>
<value>us-west-2</value>
                            </entry>
                            <entry>
<key>Communications Timeout</key>
<value>30 secs</value>
                            </entry>
                            <entry>
<key>Expiration Time Rule</key>
                            </entry>
                            <entry>
<key>FullControl User List</key>
<value>${s3.permissions.full.users}</value>
                            </entry>
                            <entry>
<key>Read Permission User List</key>
<value>${s3.permissions.read.users}</value>
                            </entry>
                            <entry>
<key>Write Permission User List</key>
<value>${s3.permissions.write.users}</value>
                            </entry>
                            <entry>
<key>Read ACL User List</key>
<value>${s3.permissions.readacl.users}</value>
                            </entry>
                            <entry>
<key>Write ACL User List</key>
<value>${s3.permissions.writeacl.users}</value>
                            </entry>
                            <entry>
<key>Owner</key>
<value>${s3.owner}</value>
                            </entry>
                            <entry>
<key>canned-acl</key>
<value>${s3.permissions.cannedacl}</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
                            </entry>
                            <entry>
<key>Endpoint Override URL</key>
                            </entry>
                            <entry>
<key>Signer Override</key>
<value>Default Signature</value>
                            </entry>
                            <entry>
<key>Multipart Threshold</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Part Size</key>
<value>5 GB</value>
                            </entry>
                            <entry>
<key>Multipart Upload AgeOff Interval</key>
<value>60 min</value>
                            </entry>
                            <entry>
<key>Multipart Upload Max Age Threshold</key>
<value>7 days</value>
                            </entry>
                            <entry>
<key>server-side-encryption</key>
<value>None</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Host Port</key>
                            </entry>
                            <entry>
<key>proxy-user-name</key>
                            </entry>
                            <entry>
<key>proxy-user-password</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutS3Object</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.aws.s3.PutS3Object</type>
                </processors>
                <processors>
                    <id>89418654-5f6d-3957-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>516.4999999999999</x>
                        <y>1152.6999954223636</y>
                    </position>
                    <bundle>
                        <artifact>nifi-update-attribute-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Delete Attributes Expression</key>
<value>
    <name>Delete Attributes Expression</name>
</value>
                            </entry>
                            <entry>
<key>Store State</key>
<value>
    <name>Store State</name>
</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
<value>
    <name>Stateful Variables Initial Value</name>
</value>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>
    <name>canonical-value-lookup-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Delete Attributes Expression</key>
                            </entry>
                            <entry>
<key>Store State</key>
<value>Do not store state</value>
                            </entry>
                            <entry>
<key>Stateful Variables Initial Value</key>
                            </entry>
                            <entry>
<key>canonical-value-lookup-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>UpdateAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
                </processors>
                <processors>
                    <id>97cd65cc-e3ac-3b7e-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>90.50000305175752</x>
                        <y>901.900019836426</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>record-reader</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
    <name>record-reader</name>
</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>
    <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
    <name>record-writer</name>
</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>
    <name>include-zero-record-flowfiles</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>record-reader</key>
<value>fa4ac11a-7143-3eb3-0000-000000000000</value>
                            </entry>
                            <entry>
<key>record-writer</key>
<value>9f55adc4-a610-3a38-0000-000000000000</value>
                            </entry>
                            <entry>
<key>include-zero-record-flowfiles</key>
<value>true</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertRecord</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>RUNNING</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertRecord</type>
                </processors>
                <processors>
                    <id>a471b0da-fd66-3657-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>-563.0</x>
                        <y>1061.2001037597656</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Character Set</key>
<value>
    <name>Character Set</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>
    <name>Maximum Buffer Size</name>
</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>
    <name>Maximum Capture Group Length</name>
</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>
    <name>Enable Canonical Equivalence</name>
</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>
    <name>Enable Case-insensitive Matching</name>
</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>
    <name>Permit Whitespace and Comments in Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>
    <name>Enable DOTALL Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>
    <name>Enable Literal Parsing of the Pattern</name>
</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>
    <name>Enable Multiline Mode</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>
    <name>Enable Unicode-aware Case Folding</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>
    <name>Enable Unicode Predefined Character Classes</name>
</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>
    <name>Enable Unix Lines Mode</name>
</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>
    <name>Include Capture Group 0</name>
</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>
    <name>extract-text-enable-repeating-capture-group</name>
</value>
                            </entry>
                            <entry>
<key>sql</key>
<value>
    <name>sql</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Character Set</key>
<value>UTF-8</value>
                            </entry>
                            <entry>
<key>Maximum Buffer Size</key>
<value>1 MB</value>
                            </entry>
                            <entry>
<key>Maximum Capture Group Length</key>
<value>1024</value>
                            </entry>
                            <entry>
<key>Enable Canonical Equivalence</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Case-insensitive Matching</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Permit Whitespace and Comments in Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable DOTALL Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Literal Parsing of the Pattern</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Multiline Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode-aware Case Folding</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unicode Predefined Character Classes</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Enable Unix Lines Mode</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Include Capture Group 0</key>
<value>true</value>
                            </entry>
                            <entry>
<key>extract-text-enable-repeating-capture-group</key>
<value>false</value>
                            </entry>
                            <entry>
<key>sql</key>
<value>^(.*)</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ExtractText</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>matched</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>unmatched</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ExtractText</type>
                </processors>
                <processors>
                    <id>cf1b30a5-207d-3545-0000-000000000000</id>
                    <parentGroupId>3b999fef-78e7-3ecb-0000-000000000000</parentGroupId>
                    <position>
                        <x>83.11636997958885</x>
                        <y>472.3000549316407</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.9.0.3.4.0.0-155</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>URL</key>
<value>
    <name>URL</name>
</value>
                            </entry>
                            <entry>
<key>Filename</key>
<value>
    <name>Filename</name>
</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>SSL Context Service</name>
</value>
                            </entry>
                            <entry>
<key>Username</key>
<value>
    <name>Username</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>
    <name>Connection Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>
    <name>Data Timeout</name>
</value>
                            </entry>
                            <entry>
<key>User Agent</key>
<value>
    <name>User Agent</name>
</value>
                            </entry>
                            <entry>
<key>Accept Content-Type</key>
<value>
    <name>Accept Content-Type</name>
</value>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>
    <name>Follow Redirects</name>
</value>
                            </entry>
                            <entry>
<key>redirect-cookie-policy</key>
<value>
    <name>redirect-cookie-policy</name>
</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
    <name>proxy-configuration-service</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Host</key>
<value>
    <name>Proxy Host</name>
</value>
                            </entry>
                            <entry>
<key>Proxy Port</key>
<value>
    <name>Proxy Port</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>60 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>URL</key>
<value>https://travel.state.gov/_res/rss/TAsTWs.xml</value>
                            </entry>
                            <entry>
<key>Filename</key>
<value>travel${now():toNumber()}.xml</value>
                            </entry>
                            <entry>
<key>SSL Context Service</key>
<value>1705fbee-1061-35b7-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Username</key>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>Connection Timeout</key>
<value>60 sec</value>
                            </entry>
                            <entry>
<key>Data Timeout</key>
<value>60 sec</value>
                            </entry>
                            <entry>
<key>User Agent</key>
<value>tim-nifi-test</value>
                            </entry>
                            <entry>
<key>Accept Content-Type</key>
                            </entry>
                            <entry>
<key>Follow Redirects</key>
<value>true</value>
                            </entry>
                            <entry>
<key>redirect-cookie-policy</key>
<value>default</value>
                            </entry>
                            <entry>
<key>proxy-configuration-service</key>
                            </entry>
                            <entry>
<key>Proxy Host</key>
                            </entry>
                            <entry>
<key>Proxy Port</key>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>5 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>60 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>US Travel Advisories</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.GetHTTP</type>
                </processors>
            </contents>
            <name>Cloud Analytics</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>06/15/2019 16:53:38 UTC</timestamp>
</template>
