xmladvisor.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.2">
    <description></description>
    <groupId>d3153be7-6481-1892-d8c5-08a34285a013</groupId>
    <name>xmladvisor</name>
    <snippet>
        <connections>
            <id>139a6401-ecae-3532-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>af604b60-53ef-3109-0000-000000000000</groupId>
                <id>eb7a768d-e653-3d81-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>af604b60-53ef-3109-0000-000000000000</groupId>
                <id>bcf1d5ea-9b92-37a6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>179b16d9-dd35-33dd-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>af604b60-53ef-3109-0000-000000000000</groupId>
                <id>fe3219e7-8c6b-3012-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>merged</selectedRelationships>
            <source>
                <groupId>af604b60-53ef-3109-0000-000000000000</groupId>
                <id>2313861b-2922-31f1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>95bd6f77-64e4-3a54-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>af604b60-53ef-3109-0000-000000000000</groupId>
                <id>47101e87-e93d-3245-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>query1</selectedRelationships>
            <source>
                <groupId>af604b60-53ef-3109-0000-000000000000</groupId>
                <id>eb7a768d-e653-3d81-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>95d41ada-e965-3fc6-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>af604b60-53ef-3109-0000-000000000000</groupId>
                <id>bcf1d5ea-9b92-37a6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>af604b60-53ef-3109-0000-000000000000</groupId>
                <id>81f7dc5f-762b-305c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>9b4f80c8-f9d1-3cba-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>af604b60-53ef-3109-0000-000000000000</groupId>
                <id>2313861b-2922-31f1-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>af604b60-53ef-3109-0000-000000000000</groupId>
                <id>47101e87-e93d-3245-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <controllerServices>
            <id>3bf142e5-8a23-32b5-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-registry-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>
                        <name>avro-reg-validated-field-names</name>
                    </value>
                </entry>
                <entry>
                    <key>estimote</key>
                    <value>
                        <name>estimote</name>
                    </value>
                </entry>
                <entry>
                    <key>garden</key>
                    <value>
                        <name>garden</name>
                    </value>
                </entry>
                <entry>
                    <key>gluon</key>
                    <value>
                        <name>gluon</name>
                    </value>
                </entry>
                <entry>
                    <key>hoagie</key>
                    <value>
                        <name>hoagie</name>
                    </value>
                </entry>
                <entry>
                    <key>jobstatus</key>
                    <value>
                        <name>jobstatus</name>
                    </value>
                </entry>
                <entry>
                    <key>minifitensorflow2</key>
                    <value>
                        <name>minifitensorflow2</name>
                    </value>
                </entry>
                <entry>
                    <key>movidiussense</key>
                    <value>
                        <name>movidiussense</name>
                    </value>
                </entry>
                <entry>
                    <key>PDF</key>
                    <value>
                        <name>PDF</name>
                    </value>
                </entry>
            </descriptors>
            <name>AvroSchemaRegistry</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>avro-reg-validated-field-names</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>estimote</key>
                    <value>{ "type" : "record", "name" : "estimote", "fields" : [ 
{ "name": "estimoteid", "type": ["string","null"], "default": "NA" }, 
{ "name" : "battery", "type" : "int" }, 
{ "name" : "id", "type" : ["string","null"] }, 
{ "name" : "magnetic_fieldz", "type" : "double", "doc" : "Type inferred from '-0.1484375'" }, 
{ "name" : "magnetic_fieldx", "type" : "double", "doc" : "Type inferred from '-0.3125'" }, 
{ "name" : "magnetic_fieldy", "type" : "double", "doc" : "Type inferred from '0.515625'" }, 
{ "name" : "end", "type" : "string", "doc" : "Type inferred from '\"1547679071.5\"'" }, 
{ "name" : "temperature", "type" : "double", "doc" : "Type inferred from '25.5'" }, 
{ "name" : "cputemp1", "type" : "double", "doc" : "Type inferred from '38.0'" }, 
{ "name" : "memory", "type" : "double", "doc" : "Type inferred from '26.1'" }, 
{ "name" : "protocol_version", "type" : "int", "doc" : "Type inferred from '2'" }, 
{ "name" : "current_motion", "type" : "int", "doc" : "Type inferred from '420'" }, 
{ "name" : "te", "type" : "string", "doc" : "Type inferred from '\"0.362270116806\"'" }, { "name" : "systemtime", "type" : "string", "doc" : "Type inferred from '\"01/16/2019 17:51:11\"'" }, { "name" : "cputemp", "type" : "double", "doc" : "Type inferred from '39.0'" }, { "name" : "uptime", "type" : "int", "doc" : "Type inferred from '4870800'" }, { "name" : "host", "type" : "string", "doc" : "Type inferred from '\"Laptop\"'" }, { "name" : "diskusage", "type" : "string", "doc" : "Type inferred from '\"418487.1\"'" }, { "name" : "ipaddress", "type" : "string", "doc" : "Type inferred from '\"192.168.1.241\"'" }, { "name" : "uuid", "type" : "string", "doc" : "Type inferred from '\"20190116225111_2cbbac13-fed0-4d81-a24a-3aa593b5f674\"'" }, { "name" : "is_moving", "type" : "boolean", "doc" : "Type inferred from 'false'" }, { "name" : "accelerationy", "type" : "double", "doc" : "Type inferred from '0.015748031496062992'" }, { "name" : "accelerationx", "type" : "double", "doc" : "Type inferred from '0.0'" }, { "name" : "accelerationz", "type" : "double", "doc" : "Type inferred from '1.0236220472440944'" }, { "name" : "starttime", "type" : "string", "doc" : "Type inferred from '\"01/16/2019 17:51:11\"'" }, { "name" : "rssi", "type" : "int", "doc" : "Type inferred from '-60'" }, { "name" : "bt_addr", "type" : "string", "doc" : "Type inferred from '\"fa:e2:20:6e:d4:a5\"'" } ] }
</value>
                </entry>
                <entry>
                    <key>garden</key>
                    <value>{ "type" : "record", "name" : "garden", "fields" : [ { "name" : "uuid", "type" : "string", "doc" : "Type inferred from '\"20190212231349_441b3134-4084-4ed6-9516-943cadbe8aeb\"'" }, { "name" : "BH1745_red", "type" : "string", "doc" : "Type inferred from '\"35.2\"'" }, { "name" : "ipaddress", "type" : "string", "doc" : "Type inferred from '\"192.168.1.166\"'" }, { "name" : "BH1745_clear", "type" : "string", "doc" : "Type inferred from '\"30.0\"'" }, { "name" : "bme680_tempc", "type" : "string", "doc" : "Type inferred from '\"24.93\"'" }, { "name" : "bme680_humidity", "type" : "string", "doc" : "Type inferred from '\"22.751\"'" }, { "name" : "memory", "type" : "double", "doc" : "Type inferred from '42.9'" }, { "name" : "end", "type" : "string", "doc" : "Type inferred from '\"1550013229.6661472\"'" }, { "name" : "bme680_tempf", "type" : "string", "doc" : "Type inferred from '\"76.87\"'" }, { "name" : "bme680_pressure", "type" : "string", "doc" : "Type inferred from '\"1009.29\"'" }, { "name" : "systemtime", "type" : "string", "doc" : "Type inferred from '\"02/12/2019 18:13:49\"'" }, { "name" : "lsm303d_magnetometer", "type" : "string", "doc" : "Type inferred from '\"+00.02 : +00.45 : -00.12\"'" }, { "name" : "VL53L1X_distance_in_mm", "type" : "int", "doc" : "Type inferred from '680'" }, { "name" : "host", "type" : "string", "doc" : "Type inferred from '\"piups\"'" }, { "name" : "cputemp", "type" : "int", "doc" : "Type inferred from '45'" }, { "name" : "BH1745_blue", "type" : "string", "doc" : "Type inferred from '\"12.6\"'" }, { "name" : "starttime", "type" : "string", "doc" : "Type inferred from '\"02/12/2019 18:08:07\"'" }, { "name" : "ltr559_prox", "type" : "string", "doc" : "Type inferred from '\"0000\"'" }, { "name" : "ltr559_lux", "type" : "string", "doc" : "Type inferred from '\"005.93\"'" }, { "name" : "imgnamep", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/images/bog_image_p_20190212231349_441b3134-4084-4ed6-9516-943cadbe8aeb.jpg\"'" }, { "name" : "te", "type" : "string", "doc" : "Type inferred from '\"342.5885555744171\"'" }, { "name" : "diskusage", "type" : "string", "doc" : "Type inferred from '\"9625.3\"'" }, { "name" : "lsm303d_accelerometer", "type" : "string", "doc" : "Type inferred from '\"+00.08g : -01.01g : +00.09g\"'" }, { "name" : "BH1745_green", "type" : "string", "doc" : "Type inferred from '\"25.0\"'" }, { "name" : "imgname", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/images/bog_image_20190212231349_441b3134-4084-4ed6-9516-943cadbe8aeb.jpg\"'" } ] }</value>
                </entry>
                <entry>
                    <key>gluon</key>
                    <value>{ "type" : "record", "name" : "gluon", "fields" : [ 
{ "name" : "class1", "type" : ["string","null"] }, 
{ "name" : "cpu", "type" :  ["double","null"] }, 
{ "name" : "end", "type" :  ["string","null"]}, 
{ "name" : "host", "type" :  ["string","null"]}, 
{ "name" : "memory", "type" :  ["double","null"]}, 
{ "name" : "pct1", "type" :  ["string","null"] }, 
{ "name" : "shape", "type" :  ["string","null"] }, 
{ "name" : "systemtime", "type" :  ["string","null"] }, 
{ "name" : "te", "type" :  ["string","null"] } ] }</value>
                </entry>
                <entry>
                    <key>hoagie</key>
                    <value>{ "type" : "record", "name" : "hoagie", "fields" : [ { "name" : "mongo_id", "type" : "string", "doc" : "Type inferred from '\"5c5b55375b6fe482582220a0\"'" }, { "name" : "id", "type" : "int", "doc" : "Type inferred from '528'" }, { "name" : "first_name", "type" : "string", "doc" : "Type inferred from '\"Anatollo\"'" }, { "name" : "last_name", "type" : "string", "doc" : "Type inferred from '\"Coombs\"'" }, { "name" : "email", "type" : "string", "doc" : "Type inferred from '\"acoombsen@dmoz.org\"'" }, { "name" : "gender", "type" : "string", "doc" : "Type inferred from '\"Male\"'" }, { "name" : "ip_address", "type" : "string", "doc" : "Type inferred from '\"29.211.50.89\"'" }, { "name" : "primary_topping", "type" : "string", "doc" : "Type inferred from '\"Liqueur Banana, Ramazzotti\"'" }, { "name" : "user_agent", "type" : "string", "doc" : "Type inferred from '\"Mozilla/5.0 (Windows NT 6.1; WOW64; rv:21.0) Gecko/20100101 Firefox/21.0\"'" }, { "name" : "mac_address", "type" : "string", "doc" : "Type inferred from '\"F4-AD-A6-BE-2B-92\"'" }, { "name" : "order_frequency", "type" : "string", "doc" : "Type inferred from '\"Seldom\"'" }, { "name" : "order_date", "type" : "string", "doc" : "Type inferred from '\"03/06/2018\"'" }, { "name" : "credit_card_type", "type" : "string", "doc" : "Type inferred from '\"visa-electron\"'" }, { "name" : "city", "type" : "string", "doc" : "Type inferred from '\"Lake Worth\"'" }, { "name" : "state", "type" : "string", "doc" : "Type inferred from '\"FL\"'" }, { "name" : "lat", "type" : "string", "doc" : "Type inferred from '\"26.5747\"'" }, { "name" : "long", "type" : "string", "doc" : "Type inferred from '\"-80.0794\"'" }, { "name" : "zipcode", "type" : "string", "doc" : "Type inferred from '\"33462\"'" }, { "name" : "street_number", "type" : "string", "doc" : "Type inferred from '\"503\"'" }, { "name" : "street_name", "type" : "string", "doc" : "Type inferred from '\"Summerview\"'" }, { "name" : "guid", "type" : "string", "doc" : "Type inferred from '\"1b71d73b-2dee-4e4f-aeed-bd8ba6260360\"'" } ] }</value>
                </entry>
                <entry>
                    <key>jobstatus</key>
                    <value>{  
   "type":"record",
   "name":"jobstatus",
   "fields":[  
      {  
         "name":"id",
         "type":["int","null"]
      },
      {  
         "name":"name",
         "type":["string","null"]
      },
      {  
         "name":"script",
         "type":["string","null"]
      },
      {  
         "name":"cpu",
         "type":["int","null"]
      },
      {  
         "name":"memory",
         "type":["int","null"]
      },
      {  
         "name":"nvidia_gpu",
         "type":["int","null"]
      },
      {  
         "name":"engine_image_id",
         "type":["int","null"]
      },
      {  
         "name":"kernel",
         "type":["string","null"]
      },
      {  
         "name":"englishSchedule",
         "type":["string","null"]
      },
      {  
         "name":"timezone",
         "type":["string","null"]
      },
      {  
         "name":"total_runs",
         "type":["int","null"]
      },
      {  
         "name":"total_failures",
         "type":["int","null"],
         "doc":"Type inferred from '0'"
      },
      {  
         "name":"paused",
         "type":["boolean","null"],
         "doc":"Type inferred from 'false'"
      },
      {  
         "name":"type",
         "type":["string","null"],
         "doc":"Type inferred from '\"manual\"'"
      },
      {  
         "name":"creator_id",
         "type":["int","null"],
         "doc":"Type inferred from '19'"
      },
      {  
         "name":"creator_username",
         "type":["string","null"]
      },
      {  
         "name":"creator_name",
         "type":["string","null"]
      },
      {  
         "name":"creator_email",
         "type":["string","null"]
      },
      {  
         "name":"creator_url",
         "type":["string","null"]
      },
      {  
         "name":"creator_html_url",
         "type":["string","null"]
      },
      {  
         "name":"project_id",
         "type":["int","null"]
      },
      {  
         "name":"project_slug",
         "type":["string","null"]
      },
      {  
         "name":"project_name",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_id",
         "type":["int","null"]
      },
      {  
         "name":"project_owner_username",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_email",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_name",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_url",
         "type":["string","null"]
      },
      {  
         "name":"project_owner_html_url",
         "type":["string","null"]
      },
      {  
         "name":"project_url",
         "type":["string","null"]
               },
      {  
         "name":"project_html_url",
         "type":["string","null"]
      },
      {  
         "name":"latest_id",
         "type":["string","null"]
      },
      {  
         "name":"latest_batch",
         "type":["boolean","null"]
      },
      {  
         "name":"latest_job_id",
         "type":["int","null"]
      },
      {  
         "name":"latest_status",
         "type":["string","null"]
      },
      {  
         "name":"latest_oomKilled",
         "type":["boolean","null"]
      },
      {  
         "name":"latest_created_at",
         "type":["string","null"]
      },
      {  
         "name":"latest_scheduling_at",
         "type":["string","null"]
      },
      {  
         "name":"latest_url",
         "type":["string","null"]
      },
      {  
         "name":"latest_html_url",
         "type":["string","null"]
      },
      {  
         "name":"latest_shared_view_visibility",
         "type":["string","null"]
      },
      {  
         "name":"report_include_logs",
         "type":["boolean","null"]
      },
      {  
         "name":"report_send_from_creator",
         "type":["boolean","null"]
      },
      {  
         "name":"timeout",
         "type":["int","null"]
      },
      {  
         "name":"timeout_kill",
         "type":["boolean","null"]
      },
      {  
         "name":"created_at",
         "type":["string","null"]
      },
      {  
         "name":"updated_at",
         "type":["string","null"]
      },
      {  
         "name":"shared_view_visibility",
         "type":["string","null"]
      },
      {  
         "name":"url",
         "type":["string","null"]
      },
      {  
         "name":"html_url",
         "type":["string","null"]
      },
      {  
         "name":"engine_id",
         "type":["string","null"]
      }
   ]
}</value>
                </entry>
                <entry>
                    <key>minifitensorflow2</key>
                    <value>{ "type" : "record", "name" : "minifitensorflow2", "fields" : [ { "name" : "image", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/images/2018-03-29_1152.jpg\"'" }, { "name" : "ts", "type" : "string", "doc" : "Type inferred from '\"2018-03-29 15:52:57\"'" }, { "name" : "host", "type" : "string", "doc" : "Type inferred from '\"sensehatmovidius\"'" }, { "name" : "score", "type" : "string", "doc" : "Type inferred from '\"0.00402512\"'" }, { "name" : "human_string", "type" : "string", "doc" : "Type inferred from '\"cinema, movie theater, movie theatre, movie house, picture palace\"'" }, { "name" : "node_id", "type" : "int", "doc" : "Type inferred from '695'" } ] }</value>
                </entry>
                <entry>
                    <key>movidiussense</key>
                    <value>{
 "type": "record",
 "name": "movidiussense",
 "fields": [
  {
   "name": "cputemp2",
   "type": ["double","null"]
  },
  {
   "name": "pitch",
   "type": ["double","null"]
  },
  {
   "name": "label5",
   "type": ["string","null"]
  },
  {
   "name": "starttime",
   "type": ["string","null"]
  },
  {
   "name": "label2",
   "type": ["string","null"]
  },
  {
   "name": "y",
   "type": ["double","null"]
  },
  {
   "name": "currenttime",
   "type": ["string","null"]
  },
  {
   "name": "x",
   "type": ["double","null"]
  },
  {
   "name": "label4",
   "type": ["string","null"]
  },
  {
   "name": "roll",
   "type": ["double","null"]
  },
  {
   "name": "temp",
   "type": ["double","null"]
  },
  {
   "name": "host",
   "type": ["string","null"]
  },
  {
   "name": "diskfree",
   "type": ["string","null"]
  },
  {
   "name": "memory",
   "type": ["double","null"]
  },
  {
   "name": "label3",
   "type": ["string","null"]
  },
  {
   "name": "label1",
   "type": ["string","null"]
  },
  {
   "name": "yaw",
   "type": ["double","null"]
  },
  {
   "name": "cputemp",
   "type": "int"
  },
  {
   "name": "humidity",
   "type": ["double","null"]
  },
  {
   "name": "tempf",
   "type": ["double","null"]
  },
  {
   "name": "z",
   "type": ["double","null"]
  },
  {
   "name": "pressure",
   "type": ["double","null"]
  },
  {
   "name": "ipaddress",
   "type": ["string","null"]
  }
 ]
}</value>
                </entry>
                <entry>
                    <key>PDF</key>
                    <value>{ "type" : "record", "name" : "PDF", "fields" : [ { "name" : "date", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "segmentoriginalfilename", "type" : "string", "doc" : "Type inferred from '\"tensor.pdf\"'" }, { "name" : "CreationDate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "ContentType", "type" : "string", "doc" : "Type inferred from '\"application/pdf\"'" }, { "name" : "xmpMMDerivedFromInstanceID", "type" : "string", "doc" : "Type inferred from '\"xmp.iid:b8062fa1-9619-43b4-a23d-6d4ec9ad3a40\"'" }, { "name" : "fragmentidentifier", "type" : "string", "doc" : "Type inferred from '\"b4679dbf-d140-480e-b48a-8f0dbcf205f4\"'" }, { "name" : "pdfdocinfotrapped", "type" : "string", "doc" : "Type inferred from '\"False\"'" }, { "name" : "language", "type" : "string", "doc" : "Type inferred from '\"en-US\"'" }, { "name" : "accesspermissionextract_content", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "LastSaveDate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "LastModified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "pdfencrypted", "type" : "string", "doc" : "Type inferred from '\"false\"'" }, { "name" : "textlinecount", "type" : "string", "doc" : "Type inferred from '\"1\"'" }, { "name" : "nlporgs", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "sentence1", "type" : "string", "doc" : "Type inferred from '\"INTRODUCTION TO TENSORFLOW \"'" }, { "name" : "modified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "sentence", "type" : "string", "doc" : "Type inferred from '\"INTRODUCTION TO TENSORFLOW \"'" }, { "name" : "metasavedate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "filecreationTime", "type" : "string", "doc" : "Type inferred from '\"2018-01-17T15:52:50-0500\"'" }, { "name" : "accesspermissioncan_print_degraded", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "trapped", "type" : "string", "doc" : "Type inferred from '\"False\"'" }, { "name" : "created", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "xmpMMDerivedFromDocumentID", "type" : "string", "doc" : "Type inferred from '\"xmp.did:b222500d-fbb5-4f9f-be69-aa9d75703268\"'" }, { "name" : "nlpnames", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "accesspermissionassemble_document", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "dctermsmodified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "fragmentsize", "type" : "string", "doc" : "Type inferred from '\"28\"'" }, { "name" : "dclanguage", "type" : "string", "doc" : "Type inferred from '\"en-US\"'" }, { "name" : "pdfPDFVersion", "type" : "string", "doc" : "Type inferred from '\"1.4\"'" }, { "name" : "pdfdocinfocreator_tool", "type" : "string", "doc" : "Type inferred from '\"Adobe InDesign CC 13.0 (Macintosh)\"'" }, { "name" : "origmimetype", "type" : "string", "doc" : "Type inferred from '\"application/pdf\"'" }, { "name" : "producer", "type" : "string", "doc" : "Type inferred from '\"Adobe PDF Library 15.0\"'" }, { "name" : "nlplocations", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "fragmentcount", "type" : "string", "doc" : "Type inferred from '\"463\"'" }, { "name" : "sentiment", "type" : "string", "doc" : "Type inferred from '\"Neutral\"'" }, { "name" : "xmpMMDocumentID", "type" : "string", "doc" : "Type inferred from '\"xmp.id:616a1b69-7fa0-46e1-9867-140371ba2ffb\"'" }, { "name" : "pdfdocinfomodified", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:27Z\"'" }, { "name" : "filelastAccessTime", "type" : "string", "doc" : "Type inferred from '\"2019-01-28T12:46:44-0500\"'" }, { "name" : "filesize", "type" : "string", "doc" : "Type inferred from '\"350941\"'" }, { "name" : "xmpCreatorTool", "type" : "string", "doc" : "Type inferred from '\"Adobe InDesign CC 13.0 (Macintosh)\"'" }, { "name" : "accesspermissioncan_modify", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "accesspermissionfill_in_form", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "pdfdocinfoproducer", "type" : "string", "doc" : "Type inferred from '\"Adobe PDF Library 15.0\"'" }, { "name" : "dctermscreated", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "fileowner", "type" : "string", "doc" : "Type inferred from '\"tspann\"'" }, { "name" : "pdfdocinfocreated", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "filepermissions", "type" : "string", "doc" : "Type inferred from '\"rwxrwxrwx\"'" }, { "name" : "fragmentindex", "type" : "string", "doc" : "Type inferred from '\"1\"'" }, { "name" : "accesspermissionmodify_annotations", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "nlpdates", "type" : "string", "doc" : "Type inferred from '\"\"'" }, { "name" : "accesspermissionextract_for_accessibility", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "dcformat", "type" : "string", "doc" : "Type inferred from '\"application/pdf; version=1.4\"'" }, { "name" : "xmpTPgNPages", "type" : "string", "doc" : "Type inferred from '\"5\"'" }, { "name" : "XParsedBy", "type" : "string", "doc" : "Type inferred from '\"org.apache.tika.parser.DefaultParser, org.apache.tika.parser.pdf.PDFParser\"'" }, { "name" : "absolutepath", "type" : "string", "doc" : "Type inferred from '\"/opt/demo/files/\"'" }, { "name" : "metacreationdate", "type" : "string", "doc" : "Type inferred from '\"2017-11-08T17:04:26Z\"'" }, { "name" : "filelastModifiedTime", "type" : "string", "doc" : "Type inferred from '\"2018-01-17T15:52:50-0500\"'" }, { "name" : "accesspermissioncan_print", "type" : "string", "doc" : "Type inferred from '\"true\"'" }, { "name" : "filegroup", "type" : "string", "doc" : "Type inferred from '\"staff\"'" }, { "name" : "mimetype", "type" : "string", "doc" : "Type inferred from '\"text/plain\"'" } ] }</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schemaregistry.services.AvroSchemaRegistry</type>
        </controllerServices>
        <controllerServices>
            <id>5b194c99-f4df-3dc7-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>max-cache-size</key>
                    <value>
                        <name>max-cache-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>VolatileSchemaCache</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>max-cache-size</key>
                    <value>100</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.schema.inference.VolatileSchemaCache</type>
        </controllerServices>
        <controllerServices>
            <id>5b960422-5975-343c-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>record_format</key>
                    <value>
                        <name>record_format</name>
                    </value>
                </entry>
                <entry>
                    <key>attribute_prefix</key>
                    <value>
                        <name>attribute_prefix</name>
                    </value>
                </entry>
                <entry>
                    <key>content_field_name</key>
                    <value>
                        <name>content_field_name</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>XMLReader</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>record_format</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>attribute_prefix</key>
                </entry>
                <entry>
                    <key>content_field_name</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.xml.XMLReader</type>
        </controllerServices>
        <controllerServices>
            <id>874eb186-fe94-308e-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-ssl-context-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Keystore Filename</key>
                    <value>
                        <name>Keystore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                    <value>
                        <name>Keystore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>key-password</key>
                    <value>
                        <name>key-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                    <value>
                        <name>Keystore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>
                        <name>Truststore Filename</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                    <value>
                        <name>Truststore Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>
                        <name>Truststore Type</name>
                    </value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>
                        <name>SSL Protocol</name>
                    </value>
                </entry>
            </descriptors>
            <name>StandardSSLContextService</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Keystore Filename</key>
                </entry>
                <entry>
                    <key>Keystore Password</key>
                </entry>
                <entry>
                    <key>key-password</key>
                </entry>
                <entry>
                    <key>Keystore Type</key>
                </entry>
                <entry>
                    <key>Truststore Filename</key>
                    <value>/Library/Java/Home/jre/lib/security/cacerts</value>
                </entry>
                <entry>
                    <key>Truststore Password</key>
                </entry>
                <entry>
                    <key>Truststore Type</key>
                    <value>JKS</value>
                </entry>
                <entry>
                    <key>SSL Protocol</key>
                    <value>TLS</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.ssl.StandardSSLContextService</type>
        </controllerServices>
        <controllerServices>
            <id>8914bb01-48c4-30f6-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>
                        <name>Pretty Print JSON</name>
                    </value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>
                        <name>suppress-nulls</name>
                    </value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>
                        <name>output-grouping</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>
                        <name>compression-level</name>
                    </value>
                </entry>
            </descriptors>
            <name>JsonRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>no-schema</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
                <entry>
                    <key>Pretty Print JSON</key>
                    <value>false</value>
                </entry>
                <entry>
                    <key>suppress-nulls</key>
                    <value>always-suppress</value>
                </entry>
                <entry>
                    <key>output-grouping</key>
                    <value>output-oneline</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>none</value>
                </entry>
                <entry>
                    <key>compression-level</key>
                    <value>1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>8cbbabdd-b42d-3b34-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>
                        <name>Schema Write Strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>
                        <name>compression-format</name>
                    </value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>
                        <name>cache-size</name>
                    </value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>
                        <name>encoder-pool-size</name>
                    </value>
                </entry>
            </descriptors>
            <name>HDFS AvroRecordSetWriter</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Schema Write Strategy</key>
                    <value>avro-embedded</value>
                </entry>
                <entry>
                    <key>schema-cache</key>
                    <value>5b194c99-f4df-3dc7-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>inherit-record-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>3bf142e5-8a23-32b5-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>compression-format</key>
                    <value>NONE</value>
                </entry>
                <entry>
                    <key>cache-size</key>
                    <value>1000</value>
                </entry>
                <entry>
                    <key>encoder-pool-size</key>
                    <value>32</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.avro.AvroRecordSetWriter</type>
        </controllerServices>
        <controllerServices>
            <id>eb5d122b-b4f3-34d3-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-record-serialization-services-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>
                        <name>schema-access-strategy</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.schemaregistry.services.SchemaRegistry</identifiesControllerService>
                        <name>schema-registry</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>
                        <name>schema-name</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-version</key>
                    <value>
                        <name>schema-version</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-branch</key>
                    <value>
                        <name>schema-branch</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>
                        <name>schema-text</name>
                    </value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.serialization.RecordSchemaCacheService</identifiesControllerService>
                        <name>schema-inference-cache</name>
                    </value>
                </entry>
                <entry>
                    <key>Date Format</key>
                    <value>
                        <name>Date Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Time Format</key>
                    <value>
                        <name>Time Format</name>
                    </value>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                    <value>
                        <name>Timestamp Format</name>
                    </value>
                </entry>
            </descriptors>
            <name>Infer Json Tree</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>schema-access-strategy</key>
                    <value>infer-schema</value>
                </entry>
                <entry>
                    <key>schema-registry</key>
                    <value>3bf142e5-8a23-32b5-0000-000000000000</value>
                </entry>
                <entry>
                    <key>schema-name</key>
                    <value>${schema.name}</value>
                </entry>
                <entry>
                    <key>schema-version</key>
                </entry>
                <entry>
                    <key>schema-branch</key>
                </entry>
                <entry>
                    <key>schema-text</key>
                    <value>${avro.schema}</value>
                </entry>
                <entry>
                    <key>schema-inference-cache</key>
                </entry>
                <entry>
                    <key>Date Format</key>
                </entry>
                <entry>
                    <key>Time Format</key>
                </entry>
                <entry>
                    <key>Timestamp Format</key>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.json.JsonTreeReader</type>
        </controllerServices>
        <processors>
            <id>2313861b-2922-31f1-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <position>
                <x>25.813042485806363</x>
                <y>1061.941178826068</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>
                            <name>merge-strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                        <value>
                            <name>correlation-attribute-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>
                            <name>Attribute Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>
                            <name>min-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>
                            <name>max-records</name>
                        </value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>
                            <name>min-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                        <value>
                            <name>max-bin-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>
                            <name>max-bin-age</name>
                        </value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>
                            <name>max.bin.count</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>eb5d122b-b4f3-34d3-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>8cbbabdd-b42d-3b34-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>merge-strategy</key>
                        <value>Bin-Packing Algorithm</value>
                    </entry>
                    <entry>
                        <key>correlation-attribute-name</key>
                    </entry>
                    <entry>
                        <key>Attribute Strategy</key>
                        <value>Keep Only Common Attributes</value>
                    </entry>
                    <entry>
                        <key>min-records</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>max-records</key>
                        <value>50000</value>
                    </entry>
                    <entry>
                        <key>min-bin-size</key>
                        <value>1000 B</value>
                    </entry>
                    <entry>
                        <key>max-bin-size</key>
                    </entry>
                    <entry>
                        <key>max-bin-age</key>
                        <value>10 minutes</value>
                    </entry>
                    <entry>
                        <key>max.bin.count</key>
                        <value>10</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>MergeRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>merged</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.MergeRecord</type>
        </processors>
        <processors>
            <id>47101e87-e93d-3245-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <position>
                <x>1.7891766954344348</x>
                <y>622.2969767597956</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime.type</key>
                        <value>
                            <name>mime.type</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>mime.type</key>
                        <value>application/json</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>81f7dc5f-762b-305c-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <position>
                <x>4.616339462010728</x>
                <y>0.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>URL</key>
                        <value>
                            <name>URL</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>
                            <name>Filename</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Username</key>
                        <value>
                            <name>Username</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Password</key>
                        <value>
                            <name>Password</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>
                            <name>Connection Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>
                            <name>Data Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>
                            <name>User Agent</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                        <value>
                            <name>Accept Content-Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>
                            <name>Follow Redirects</name>
                        </value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>
                            <name>redirect-cookie-policy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                        <value>
                            <name>Proxy Port</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>60 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>URL</key>
                        <value>https://travel.state.gov/_res/rss/TAsTWs.xml</value>
                    </entry>
                    <entry>
                        <key>Filename</key>
                        <value>travel${now():toNumber()}.xml</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>874eb186-fe94-308e-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>Username</key>
                    </entry>
                    <entry>
                        <key>Password</key>
                    </entry>
                    <entry>
                        <key>Connection Timeout</key>
                        <value>60 sec</value>
                    </entry>
                    <entry>
                        <key>Data Timeout</key>
                        <value>60 sec</value>
                    </entry>
                    <entry>
                        <key>User Agent</key>
                        <value>tim-nifi-test</value>
                    </entry>
                    <entry>
                        <key>Accept Content-Type</key>
                    </entry>
                    <entry>
                        <key>Follow Redirects</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>redirect-cookie-policy</key>
                        <value>default</value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Port</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>5 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>60 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>US Travel Advisories</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GetHTTP</type>
        </processors>
        <processors>
            <id>bcf1d5ea-9b92-37a6-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <position>
                <x>6.470155475803949</x>
                <y>218.00089543442164</y>
            </position>
            <bundle>
                <artifact>nifi-update-attribute-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Delete Attributes Expression</key>
                        <value>
                            <name>Delete Attributes Expression</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>
                            <name>Store State</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                        <value>
                            <name>Stateful Variables Initial Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>
                            <name>canonical-value-lookup-cache-size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>
                            <name>schema.name</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Delete Attributes Expression</key>
                    </entry>
                    <entry>
                        <key>Store State</key>
                        <value>Do not store state</value>
                    </entry>
                    <entry>
                        <key>Stateful Variables Initial Value</key>
                    </entry>
                    <entry>
                        <key>canonical-value-lookup-cache-size</key>
                        <value>100</value>
                    </entry>
                    <entry>
                        <key>schema.name</key>
                        <value>us</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>UpdateAttribute</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.attributes.UpdateAttribute</type>
        </processors>
        <processors>
            <id>eb7a768d-e653-3d81-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>408.92310358961004</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>record-reader</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordReaderFactory</identifiesControllerService>
                            <name>record-reader</name>
                        </value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.serialization.RecordSetWriterFactory</identifiesControllerService>
                            <name>record-writer</name>
                        </value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>
                            <name>include-zero-record-flowfiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>cache-schema</key>
                        <value>
                            <name>cache-schema</name>
                        </value>
                    </entry>
                    <entry>
                        <key>query1</key>
                        <value>
                            <name>query1</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>record-reader</key>
                        <value>5b960422-5975-343c-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>record-writer</key>
                        <value>8914bb01-48c4-30f6-0000-000000000000</value>
                    </entry>
                    <entry>
                        <key>include-zero-record-flowfiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>cache-schema</key>
                        <value>true</value>
                    </entry>
                    <entry>
                        <key>query1</key>
                        <value>SELECT * FROM FLOWFILE </value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>QueryRecord</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>original</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>query1</name>
            </relationships>
            <state>RUNNING</state>
            <style/>
            <type>org.apache.nifi.processors.standard.QueryRecord</type>
        </processors>
        <processors>
            <id>fe3219e7-8c6b-3012-0000-000000000000</id>
            <parentGroupId>af604b60-53ef-3109-0000-000000000000</parentGroupId>
            <position>
                <x>24.475273931118863</x>
                <y>1259.9596114432554</y>
            </position>
            <bundle>
                <artifact>nifi-hadoop-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.9.2</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>
                            <name>Hadoop Configuration Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                            <name>kerberos-credentials-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                        <value>
                            <name>Kerberos Principal</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                        <value>
                            <name>Kerberos Keytab</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>
                            <name>Kerberos Relogin Period</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                        <value>
                            <name>Additional Classpath Resources</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>
                            <name>Directory</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>
                            <name>Conflict Resolution Strategy</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                        <value>
                            <name>Block Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                        <value>
                            <name>IO Buffer Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Replication</key>
                        <value>
                            <name>Replication</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                        <value>
                            <name>Permissions umask</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                        <value>
                            <name>Remote Owner</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                        <value>
                            <name>Remote Group</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>
                            <name>Compression codec</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Hadoop Configuration Resources</key>
                        <value>/Volumes/TSPANN/conf/hadoop-conf/core-site.xml,/Volumes/TSPANN/conf/hadoop-conf/hdfs-site.xml</value>
                    </entry>
                    <entry>
                        <key>kerberos-credentials-service</key>
                    </entry>
                    <entry>
                        <key>Kerberos Principal</key>
                    </entry>
                    <entry>
                        <key>Kerberos Keytab</key>
                    </entry>
                    <entry>
                        <key>Kerberos Relogin Period</key>
                        <value>4 hours</value>
                    </entry>
                    <entry>
                        <key>Additional Classpath Resources</key>
                    </entry>
                    <entry>
                        <key>Directory</key>
                        <value>/tmp/xml</value>
                    </entry>
                    <entry>
                        <key>Conflict Resolution Strategy</key>
                        <value>fail</value>
                    </entry>
                    <entry>
                        <key>Block Size</key>
                    </entry>
                    <entry>
                        <key>IO Buffer Size</key>
                    </entry>
                    <entry>
                        <key>Replication</key>
                    </entry>
                    <entry>
                        <key>Permissions umask</key>
                    </entry>
                    <entry>
                        <key>Remote Owner</key>
                    </entry>
                    <entry>
                        <key>Remote Group</key>
                    </entry>
                    <entry>
                        <key>Compression codec</key>
                        <value>NONE</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutHDFS xml</name>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.hadoop.PutHDFS</type>
        </processors>
    </snippet>
    <timestamp>06/15/2019 11:37:53 EDT</timestamp>
</template>
